.text-field {
  margin: 50px;
  width: 30%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(97, 181, 139, 0.3);
  font-size: 21px;
}
.text-field:hover {
  background-color: rgba(161, 249, 170, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(207, 151, 151, 0.05);
}
